/* couleurs */
body {
  --jaune:#FECA07;
  --noir:#404040;
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
}

/* nom */
.name {
  margin-top: 3em;
  padding-left: 60px;
}

/* couleur du nom */
.name_color {
  color: var(--jaune);
}

/* taille du nom */
h1 {
  font-size: 3em;
}

/* soulignement du job */
.underline {
  border-bottom: 2px solid var(--jaune);
}

/* taille du job */
h4 {
  font-size: 1.8em;
}

/* avatar */
.avatar {
  display: flex;
  justify-content: center;
  width: 230px;
  height: 230px;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--black);
}

/* en-têtes grises des sections "Contact", "A propos de moi" et "Loisirs" */
.titles {
  background-color: var(--noir);
  color: var(--jaune);
  text-align: center;
  font-size: 1.8em;
}

/* mise en forme des icônes de la section "Loisirs" */
.hobbies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* apparence des icônes de la section "Loisirs" */
.hobbies i {
  color: var(--noir);
  border: 2px solid var(--noir);
  border-radius: 100%;
  padding: 20px;
  font-size: 1.8em;
}

/* couleur des icônes des sections "Formation", "Expérience professionelle" et "Recommandations" */
.icon {
  color: var(--jaune);
}

/* couleur de la ligne de séparation horizontale */
hr {
  border: 1px solid var(--jaune);
}


/* taille du titre des sections "Formation", "Expérience professionelle" et "Recommandations" */
h2, h3 {
  font-weight: bold;
  font-size: 1.8em;
  text-transform: uppercase;
}

/* mise en page de l'en-tête */
header {
  position: absolute;
  margin: 0 0 0 20%; 
}

/* mise en page de la partie droite */
main {
  padding-top: 13%;
  padding-left: 23%;
  padding-right: 0%;
}

/* mise en page de la partie gauche */
aside {
  position: absolute;
  height: 100%;
  top: 0%; 
  left: 0%;
  width: 20%;
  background-color: var(--jaune);
  padding-right:0;
  padding-left: 0;
  padding-top: 1em;
}



