/* récupération de la police */
@font-face {
  font-family: 'Roboto';
  src: url('roboto.eot');
  src: url('roboto.eot?#iefix') format('embedded-opentype'),
  url('roboto.woff') format('woff'),
  url('roboto.ttf')  format('truetype'),
  url('roboto.svg#svgFontName') format('svg');
}

/* police */
body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 16px;
}

/* nom */
.name {
  margin-top: 3em;
  padding-left: 60px;
}

/* couleur du nom */
.name_color {
  color: #FECA07;
}

/* taille du nom */
h1 {
  font-size: 3em;
}

/* soulignement du job */
.underline {
  border-bottom: 2px solid #FECA07;
}

/* taille du job */
h2 {
  font-size: 1.8em;
}

/* avatar */
.avatar {
  display: flex;
  justify-content: center;
  width: 230px;
  height: 230px;
  margin: auto;
  margin-bottom: 10%;
  margin-top: 10%;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.1);
}

/* aspect des titres des sections "Contact", "A propos de moi" et "Loisirs" */
.titles_left {
  background-color: #404040;
  color: #FECA07;
  text-align: center;
  font-size: 1.8em;
  text-transform: uppercase;
}

/* mise en forme des icônes de la section "A propos de moi" */
.contact {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 10%;
}

/* mise en forme des icônes de la section "A propos de moi" */
.about_me {
  margin-top: 10%;
  margin-bottom: 90%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
}

/* mise en forme des icônes de la section "Loisirs" */
.hobbies {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
  margin-bottom: 150%;
  margin-left: 10%;
  margin-right: 10%;
}

/* apparence des icônes de la section "Loisirs" */
.hobbies i {
  color: #404040;
  border: 2px solid #404040;
  border-radius: 100%;
  padding: 20px;
  font-size: 1.8em;
}

/* couleur des icônes des sections "Formation", "Expérience professionelle" et "Recommandations" */
.icon {
  color: #FECA07;
}

/* aspect des titres des sections "Formation", "Expérience professionelle" et "Recommandations" */
.titles_right {
  font-size: 1.8em;
  text-transform: uppercase;
  border-bottom: solid #FECA07 2px;
  font-weight: bold;
}

/* taille des titres des entreprises */
h4 {
  text-transform: uppercase;
}

/* ajustement de l'emplacement des lieux */
.location {
	margin-left: 4%;
}

/* mise en page de l'en-tête */
header {
  position: absolute;
  margin: 4% 0 0 22%;
}

/* mise en page de la partie droite */
main {
  padding-top: 18%;
  padding-left: 25%;
  padding-right: 1%;
}

/* mise en page de la partie gauche */
aside {
  position: absolute;
  top: 0%; 
  left: 0%;
  width: 20%;
  background-color: #FECA07;
  padding-right:0;
  padding-left: 0;
  padding-top: 1em;
}

/* mobile */
@media screen and (min-width: 320px) and (max-width: 767px) {
  aside {
    width: auto;
  }
  .avatar {
    margin-top: 0%;
    margin-bottom: 4%;
  }
  .contact {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .about_me {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .hobbies {
    margin-top: 0%;
    margin-bottom: 2%;
  }
  header {
    width: auto;
    margin-top: -220px;
    margin-left: -20px;
	}
  main {
    width: auto;
    margin-top: 1300px;
    margin-left: -60px;
    margin-right: 60px;
  }
  .location {
    margin-left: 20px;
  }
}

/* tablette */
@media screen and (min-width: 768px) and (max-width: 1280px) {
  aside {
    width: auto;
  }
  .avatar {
    margin-top: 0%;
    margin-bottom: 2%;
  }
  .contact {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .about_me {
    margin-top: 0%;
    margin-bottom: 0%;
  }
  .hobbies {
    margin-top: 0%;
    margin-bottom: 2%;
  }
  header {
    width: auto;
    margin-top: -100px;
    margin-left: 100px;
  }
  main {
    width: auto;
    margin-top: 1000px;
    margin-left: -150px;
    margin-right: 150px;
  }
  .location {
    margin-left: 20px;
  }
}

/* laptop */
@media screen and (min-width: 1281px) and (max-width: 1440px) {
  header {
    width: auto;
    margin-top: 1%;
    margin-left: 22%;
  }
  .about_me {
    margin-bottom: 100%;
  }
  .hobbies {
    margin-bottom: 150%;
  }
  main {
    margin-top: 4%;
    margin-left: 1%;
  }
  .location {
    margin-left: 20px;
  }
}

/* 4K */
@media screen and (min-width: 3840px) {
  header {
    width: auto;
    margin-top: 6%;
    margin-left: 21%;
  }
  .about_me {
    margin-bottom: 100%;
  }
  main {
    margin-top: -3%;
    margin-left: -2%;
  }
  .location {
    margin-left: 20px;
  }
}

